// .header {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     width: 100%;
// }
.icon {
    font-size: 25px;
}
.select-box {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid blue;
    .combobox {
        height: 100%;
        width: 100%;
    }
    p {
        margin: 10px;
        font-weight: 600;
    }
    .icon {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .calendar {
        position: absolute;
        top: 45px;
        left: -12px;
    }
}