.login {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;

    .content-left {
        width: 50%;
        img {
            width: 100%;
        }
    }

    .content-right {
        margin: 100px auto;
        width: 50%;

        .content {
            background-color: white;
            width: 70%;
            margin: auto;
            height: fit-content;
        }
    }

}