.overview {
  height: auto;
  margin-left: 0;
  // background: #E9ECEF;
}

.overview-number {
  // border-radius: 12px;
  // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  // padding: 20px 16px;
  border: 1px solid #f0f0f0;
  background-image: linear-gradient(to right, #54b5e2, #7c5bb5);
  color: #333;
  font-weight: 600;
}

.overview-number-patient {
  font-size: 2.2rem;
}

.overview-number-percents {
  display: flex;
  flex: 1;
}

.overview-number-percent {
  // height: 70px;
  min-width: 150px;
  // border-radius: 12px;
  border-radius: 0.5rem;
  padding: 8px;
  background-color: #89d0ef;
  // box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.5);
  p {
    margin-bottom: 0rem;
  }
}

.overview-number-percent + .overview-number-percent {
  margin-left: 16px;
}

.overview-typepatient-percent {
  float: right;
  font-size: 0.75rem;
  width: 55px;
  height: 20px;
  // border-radius: 12px;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.overview-typepatient-percent.new {
  background-color: #b9d6bc;
  color: #11a31f;
}

.overview-typepatient-percent.old {
  background-color: #eac1c1;
  color: #d74f4a;
}

/* Patients of day */

.overview-number-typepatient {
  margin-bottom: 8px;
  font-size: 0.875rem;
}

.modal-calendar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: none;
}

.show-modal {
  border: 1px solid #13a1df;
  margin: 0 8px;
  font-weight: 600;
  padding: 8px;
  border-radius: 6px;
  font-size: 0.875rem;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

#toggle-modal,
#toggle-modal-2 {
  display: none;
}

#toggle-modal:checked + .modal-calendar,
#toggle-modal-2:checked + .modal-calendar {
  display: block;
}

.btn-modal {
  width: 90%;
  height: 45px;
  background-color: #13a1df;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-modal:hover {
  opacity: 0.8;
}

.weeks-icon {
  margin-left: 8px;
}

.overview-patient-ofday {
  margin-top: 16px;
  // border-radius: 12px;
  // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  // padding: 12px 12px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  position: relative;
  h6 {
    margin-bottom: 20px;
  }

  .weeks-selection {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    color: #63797d;

    .rdp {
      // --rdp-cell-size: 34px;
      --rdp-accent-color: #13a1df;
      --rdp-background-color: #13a1df;
    }
  }

  .overview-patient-chart {
    width: 100%;
    // display: flex;
    overflow: hidden;
    .overview-chart {
      height: 100% !important;
      width: 100% !important;
    }
    .chart-note {
      margin-top: 8px;
      display: flex;
      justify-content: center;
      p {
        margin-bottom: 0;
        padding-left: 48px;
        font-size: 0.875rem;
        font-weight: 500;
        position: relative;
        color: #333;
        &::before {
          content: "";
          width: 16px;
          height: 16px;
          // border-radius: 50%;
          position: absolute;
          left: 20px;
          bottom: 4px;
        }
      }

      .male {
        &::before {
          background-color: #3a57e8;
        }
      }

      .female {
        &::before {
          background-color: #85f4fa;
        }
      }
    }
  }
}

.modal-calendar-overlay {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-calendar-content {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 350px;
  background-color: #fff;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  // height: 200px;
}

/* Top medicine */
.overview-topmedicine {
  margin-top: 16px;
  // border-radius: 12px;
  // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  // height: 220px;
  // padding: 12px 12px;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  position: relative;
  h6 {
    margin-bottom: 20px;
  }
  .rdp {
    // --rdp-cell-size: 34px;
    --rdp-accent-color: #13a1df;
    --rdp-background-color: #13a1df;
  }

  .option-container {
    display: flex;
  }

  .hg-lg {
    height: 400px;
  }

  .selected-option {
    margin: 0;
    padding: 4px 16px;
    border: 1px solid #13a1df;
    color: #13a1df;
    font-weight: bold;
  }

  .selected-option.active {
    background-color: #13a1df;
    color: #fff;
  }

  .table-top-drug {
    width: 100%;
    font-weight: bold;
    p {
      font-size: 1rem;
      flex: 1;
      margin-bottom: 8px;
    }
    .table-header {
      color: #13a1df;
    }
    .table-body-row,
    .table-header {
      display: flex;
      position: relative;
      ::after {
        content: "";
        width: 100%;
        border-bottom: 1px solid #999;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .table-body {
      height: 135px;

      overflow: hidden;
      padding-right: 11px;
      margin-right: -11px;
      &:hover {
        overflow-y: scroll;
        padding-right: 0px;
      }

      p {
        font-weight: 400;
        padding-left: 8px;
      }
    }
  }
}

.week-or-month-info {
  position: absolute;
  top: 12px;
  right: 12px;
}

// Calendar
#calendar {
  // height: 650px;
  // border-radius: 8px;
  // box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  // padding: 8px;
}

.calendar-container {
  //   margin-bottom: 8px;
  //   padding: 0 8px;
  border-radius: 8px;
  //   border: 2px solid #13a1df;
  display: flex;
  justify-content: center;
  div#react-day-picker-2 {
    color: #7d8da6;
    font-size: medium;
    font-weight: 600;
  }

  .rdp-nav {
    color: #7d8da6;
  }
}

.calendar-container .rdp {
  margin: 0.5rem;
  --rdp-cell-size: 34px;
  --rdp-accent-color: #3a57e8;
  --rdp-background-color: #85f4fa;
}

.my-today {
  font-weight: bold;
  color: #fff;
}

.patients-list {
  flex: 1;
  // overflow-y: scroll;
  overflow: hidden;
  margin-right: -11px;
  padding-right: 11px;
  &:hover {
    overflow-y: scroll;
    padding-right: 0px;
  }

  margin-top: 1rem;
  scrollbar-width: thin;
}

.patient-item {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border-radius: 12px;
  // background-color: #89d0ef;
  // padding: 8px;
  // font-weight: 600;
  // .gender {
  //     color: #666;
  //     font-weight: 400;
  // }
  // .patient-name{
  //     flex: 1
  // }
  // h6{
  //     margin: 0;
  // }

  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: center;
  border-radius: 12px;
  background-color: #edf0f5;
  padding: 10px;
  font-weight: 600;

  .image {
    // background-color: green;
  }

  .gender {
    color: #666;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .patient-name {
    flex: 1;
    color: black;
  }
  h6 {
    margin: 0;
  }
}

.patient-item + .patient-item {
  margin-top: 8px;
}

.month-picker {
  width: 280px;
  height: 280px;
  margin: 16px;
}

.select-year {
  display: flex;
  padding: 8px;
  background-color: #13a1df;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
  p {
    flex: 1;
    text-align: center;
    margin: 0;
  }
  .icon-month {
    padding: 4px;
  }
}

.month-container {
  display: flex;
  flex-wrap: wrap;
  p {
    width: 33.33%;
    text-align: center;
    margin: 0;
    padding: 12px 8px;
  }
  .month-selected {
    color: #fff;
    background-color: #13a1df;
  }
}

.link-all {
  text-decoration: none;
  //   font-weight: bold;
}
