.year-calendar {
  height: 300px;
  width: 300px;
//   border: 1px solid #4880ff !important;
  border-radius: 4px;
  background-color: white;
  z-index: 2;

}
.container-calendar {
  display: flex;
  height: 300px;
  flex-direction: row;
  border: 1px solid #4880ff !important;
  --bs-gutter-x: 0rem !important;
  overflow: hidden;
  z-index: 2;
  background-color: white;
}

.month-calendar {
  height: 300px;
  max-height: 300px;
  width: 320px;
//   border: 1px solid #4880ff !important;
  border-radius: 4px;
  background-color: white;
  z-index: 2;

}

.year-calendar {
  height: 300px;
  width: 320px;
//   border: 1px solid #4880ff !important;
  border-radius: 4px;
  background-color: white;
  z-index: 2;

}
