.nav-bar-border {

    .nav-bar-active {
        background-color: #3A57E8;
        color: #FFFFFF;
        font-weight: bold;
    
    }
    
    .nav-bar {
        color: #8A92A6;
        font-weight: bold;
    }
    
}


