.nav-bar-border {
  .nav-bar-active {
    background-color: #4880ff;
    color: #ffffff;
    font-weight: bold;
  }

  .nav-bar {
    color: #202224;
    font-weight: bold;
    &:hover {
      background-color: #e7eeff;
      color: #4880ff;
    }
  }
}
