.nav-bar-border {

    .nav-bar-active {
        background-color: #E8EEFE;
        color: #1B59F8;
        font-weight: bold;
    
    }
    
    .nav-bar {
        color: #555555;
        font-weight: bold;
    }
    
}


