.detail-header {
    font-size: 18px;
    color: rgb(27, 89, 248);
    font-weight: 500;
}

.detail-chart {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #CFE2FF;
}

.detail-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 40px;
    margin: 5px 0 0 0;
    background-color: #e1edf5;
    border: 1px solid #CFE2FF;
    p {
        margin-top: 15px;
        margin-left: 20px;
        color: black;
        font-weight: 500;
        font-size: 18px;
    }
    .note-content {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        margin: 0px 10px 10px 10px;
        background-color: white;
        border-radius: 4px;
        p {
            font-weight: 300;
            font-size: 15px;
        }
    }
}

.select-box-1 {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    width: 170px;
    border-radius: 0px;
    border: 0px;
    .combobox {
        height: 100%;
        width: 100%;
    }
    p {
        margin: 5px;
        font-size: 12px;
        font-weight: 400;
    }
    .icon {
        font-size: 12px;
        font-weight: 400;

        position: absolute;
        top: 4px;
        right: 5px;
    }
    .calendar {
        position: absolute;
        top: 25px;
        left: -12px;
    }
}
.icon-view {
    font-size: 15px;
}
.export-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        width: 100px;
        background-color: #208000;
        border-radius: 2px;
        .icon-export {
            margin-right: 10px;
            font-size: 18px;
        }
    }
}