  * {
    box-sizing: border-box;
  
  }

  
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(37, 35, 35, 0.87);
  }
  
  html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    color: #555555;
    background: #f5f6fa!important;
  }

  #root {
    height: 100%;
  }

  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .row {
    --bs-gutter-x: 0rem!important;
  }

  /* .btn-primary {
    background-color: #3a57e8!important;
  }

  .btn-primary:hover {
    background-color: #0048b2!important;
  } */

  .bg-danger {
    background-color: #ef38263d !important;
    padding: 8px!important;
    color: #EF3826!important;
    border-radius: 5px!important;
  }

  .bg-success {
    background-color: #00b69b33 !important;
    padding: 8px!important;
    color: #00B69B!important;
    border-radius: 5px!important;
  }

  .list-group-item-primary {
    padding: 11px 15px!important;
    color: "#36383A"!important;
    background-color: #FCFDFD!important;
    border-bottom: 0.5px solid #D5D5D5!important;
    color: #232D42!important;
  }
  